:host {
    height: 100%;
    background: #fff;
    padding: 0 64px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.page-not-found {
    padding: 64px;
    background: #fff;

    .text {
        text-align: center;
        font-size: 72px;
    }

    .btn-wrapper {
        display: flex;
        justify-content: center;
    }
}
